# Default values for geoServer.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  container:
    requestsLimitsEnabled: true
  istio:
    sidecar:
      requestsLimitsEnabled: true
      resources:
        requests: {}
        limits: {}
  registry:
    geoServer:
      container:
        envVars: {}
        resources:
          requests: {}
          limits: {}
      istio:
        sidecar:
          enabled: true
          resources:
            requests: {}
            limits: {}

geoServer:
  httpHealthCheckPath: /geoserver/index.html
  secret:
    name: geo-server-admin-secret
  podSecurityContext:
    runAsUser: 0
  serviceAccount:
    enabled: true
    name: geo-server
  service:
    type: ClusterIP
    port: 8080
    portName: http
  volume:
    enabled: true
    mountPath: /data
    readOnly: false
    storageSize: 8Gi
  javaOpts: "-DALLOW_ENV_PARAMETRIZATION=true -javaagent:/metrics-exporter/jmx_prometheus_javaagent-0.19.0.jar=9999:/metrics-exporter/geo-server-metrics-config.yaml"
  jvmMetrics:
    portName: jvm-metrics
    port: 9999

keycloak:
  realms:
    officer: officer-portal
    citizen: citizen-portal
    admin: admin
    external: external-system
  certificatesEndpoint: /protocol/openid-connect/certs
image:
  name: nexus-docker-hosted.apps.cicd2.mdtu-ddm.projects.epam.com/mdtu-ddm-edp-cicd/geo-server-master
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  version: 1.0.0-SNAPSHOT.6

edpComponent:
  description: "Користувацький інтерфейс для адміністрування гео-даних."
  displayName: "Веб-інтерфейс управління гео-даними (Geo-server UI)"
  operationalZone: "registry-administration-zone"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

############## EDP VARIABLES TEST VALUES ##############################
namespace: ns
cdPipelineName: pipe
cdPipelineStageName: dev
dnsWildcard: edp-epam.com
